.App {
  max-width: 860px;
  margin: 40px auto;
}
.App h1 {
  letter-spacing: 3.5px;
}
button {
  background: none;
  color: #eee;
  font-size: 1em;
  font-weight: bold;
  border: none;
  outline: none;
  border: 1px solid white;
  border-radius: 4px;
  padding: 9px 20px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

button:hover {
  background-color: #c23888;
  color: #fff;
}
